* {
    border-radius: 0;
    outline: none;
    border: none;
}

window {
	font-size: 20px;
	font-family: "Roboto";
	background-color: rgba(20, 18, 18, 0.8);
	color: white;
    border-radius: 10px;
}

#entry {
    background-color: transparent;
    margin: 5px;
    padding: 5px;
}

#entry:selected {
    background-color: rgba(44, 169, 225, 1);
    color: rgb(14, 12, 12);
    border-radius: 10px;
}

#text:selected {
    color: rgb(14, 12, 12);
}

#input {
    padding: 0.25em;
    /* background-color: rgba(20, 18, 18, 0.8); */
    background-color: transparent;
    color: white;
    /* border: solid 2px rgba(44, 169, 225, 1); */
    margin: 5px;
    padding: 5px;
}

#input:focus {
    background-color: transparent;
    box-shadow: none;
}
