* {
    padding: 0;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-radius: 0px;
}

#workspaces button {
    font-size: 0px;
    min-width: 15px;
    min-height: 15px;
    border-radius: 15px;
    margin: 5px;
    background-color: rgba(160,216,239,255);
    transition:all 500ms 0s ease;
    background-image: none;
    border: none;
}

#workspaces button:hover {
    background-color: rgba(44,169,225,255);
}

#workspaces button.active {
    min-width: 50px;
    background-color: rgba(44,169,225,255);
}

#workspaces {
    background-color: rgba(12,12,12,0.7);
    min-height: 20px;
    border-radius: 20px;
}

#clock {
    background-color: rgba(12,12,12,0.7);
    border-radius: 20px;
    padding: 0px 10px;
}

#tray {
    background-color: rgba(12,12,12,0.7);
    padding: 0px 10px;
    border-radius: 20px 0 0 20px;
}

#battery {
    background-color: rgba(12,12,12,0.7);
}

#pulseaudio {
    background-color: rgba(12,12,12,0.7);
    padding: 0px 10px;
    border-radius: 0 20px 20px 0;
}
